<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->    
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                <!-- Row -->
                <div>
                    <!-- column -->
                    <div>
                        <img class="img" src="assets/images/buddies.jpg" />
                    </div>
                </div>      
    </div>
    <!-- column -->    
</div>